{
  "intents": [
    {
      "intent": "RefReq",
      "slots": [
        {
          "name": "Document",
          "type": "REF_DOCS"
        },
        {
          "name": "Chapter",
          "type": "AMAZON.NUMBER"
        },
        {
          "name": "Paragraph",
          "type": "AMAZON.NUMBER"
        },
        {
          "name": "QueryUno",
          "type": "AMAZON.NUMBER"
        },
        {
          "name": "QueryDos",
          "type": "AMAZON.NUMBER"
        },
        {
          "name": "QuestionUno",
          "type": "AMAZON.NUMBER"
        },
        {
          "name": "QuestionDos",
          "type": "AMAZON.NUMBER"
        },
        {
          "name": "Context",
          "type": "CONTEXT_WORDS"
        },
        {
          "name": "Bridge",
          "type": "GLUE_WORDS"
        },
        {
          "name": "Finisher",
          "type": "END_WORDS"
        },
        {
          "name": "Starter",
          "type": "GET_WHAT_TELL"
        }
      ]
    },
    {
      "intent": "AMAZON.HelpIntent"
    },
    {
      "intent": "AMAZON.StopIntent"
    },
    {
      "intent": "AMAZON.CancelIntent"
    }
  ]
}





CONTEXT_WORDS	previous | back | last one | next | again | repeat | one more again | once more | one more time | more | keep going | please | yes please | yup | duh | uh huh | continue | yes | no
REF_DOCS	westminster confession of faith | confession of faith | westminster shorter catechism | shorter catechism | catechism | confession | westminster larger catechism | larger catechism | westminster longer catechism | wcf | wsc | wlc
END_WORDS	all | all of | all of the | complete | end | entire | entirety of | full | the complete | the end | the whole | the whole of | whole | whole of
GET_WHAT_TELL	what is | tell me | get me | get | recite | read | what is the | tell me the | get me the | get the | recite the | read the
GLUE_WORDS	to | and | through






RefReq {Starter} {Document}
RefReq {Starter} {Document} {Finisher} chapter {Chapter}
RefReq {Starter} {Finisher} {Document} chapter {Chapter}
RefReq {Starter} {Document} chapter {Chapter} paragraph {Paragraph}
RefReq {Starter} {Document} chapter {Chapter} paragraph {QueryUno} {Bridge} {QueryDos}
RefReq {Starter} {Document} chapter {Chapter} paragraph {QueryUno} {Bridge} {Finisher}
RefReq {Starter} {Document} {Chapter}
RefReq {Starter} {Document} {Chapter} {QueryUno} {Bridge} {QueryDos}
RefReq {Starter} {Document} {Chapter} {Paragraph}
RefReq {Starter} {Document} question {QuestionUno}
RefReq {Starter} {Document} question {QuestionUno} {Bridge} {QuestionDos}
RefReq {Starter} {Document} question {QuestionUno} {Bridge} {Finisher}
RefReq {Starter} {Context}
RefReq {Starter} chapter {Chapter} paragraph {Paragraph}
RefReq {Starter} chapter {Chapter} paragraph {QueryUno} {Bridge} {QueryDos}
RefReq {Starter} chapter {Chapter} paragraph {QueryUno} {Bridge} {Finisher}
RefReq {Starter} chapter {Chapter}
RefReq {Starter} question {QuestionUno}
RefReq {Starter} question {QuestionUno} {Bridge} {QuestionDos}
RefReq {Starter} question {QuestionUno} {Bridge} {Finisher}
RefReq {Context}
RefReq {Starter} {Document}
RefReq {Document} {Finisher} chapter {Chapter}
RefReq {Finisher} {Document} chapter {Chapter}
RefReq {Document} chapter {Chapter} paragraph {Paragraph}
RefReq {Document} chapter {Chapter} paragraph {QueryUno} {Bridge} {QueryDos}
RefReq {Document} chapter {Chapter} paragraph {QueryUno} {Bridge} {Finisher}
RefReq {Document} {Chapter}
RefReq {Document} {Chapter} {QueryUno} {Bridge} {QueryDos}
RefReq {Document} {Chapter} {Paragraph}
RefReq {Document} question {QuestionUno}
RefReq {Document} question {QuestionUno} {Bridge} {QuestionDos}
RefReq {Document} question {QuestionUno} {Bridge} {Finisher}
RefReq {Finisher} chapter {Chapter}
RefReq chapter {Chapter} paragraph {Paragraph}
RefReq chapter {Chapter} paragraph {QueryUno} {Bridge} {QueryDos}
RefReq chapter {Chapter} paragraph {QueryUno} {Bridge} {Finisher}
RefReq {Chapter}
RefReq {Chapter} {QueryUno} {Bridge} {QueryDos}
RefReq {Chapter} {Paragraph}
RefReq question {QuestionUno}
RefReq question {QuestionUno} {Bridge} {QuestionDos}
RefReq question {QuestionUno} {Bridge} {Finisher}
